.bpmn-view {
    width: 100%;
    height: 100%;

    &-flow {
        display: flex;
        gap: 10px;
        height: 100px;
        >div {
            flex: 1;
            outline: solid 1px #ccc;
        }
    }

    &-steps {
        display: flex;
        gap: 10px;
    }

}