.bpmn-view {
    width: 100%;
    height: 100%;

    &-form {
        display: flex;
        gap: 10px;
        height: 100px;
        outline: solid 1px #ccc;
    }

    &-flow {
        display: flex;
        gap: 10px;
        outline: solid 1px #ccc;
    }

    &-steps {
        display: flex;
        gap: 10px;
    }

}

.user-views{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .user-view{
        width: calc(25% - 10px);
        height: 100px;
    }
}